<!doctype html>
<html>
  <head>
      <meta name="viewport" content="width=device-width,initial-scale=1" charset="utf-8" />
      <title> admin page</title>
      <link href="../static/Css/admin.css" rel="stylesheet" type="text/css" />
      <link href="https://fonts.googleapis.com/css?family=play" rel="stylesheet">






  </head>
  <body>
      <div id="header">
          <center><img src="../images/fl.png" style="height:50px; width:50px;" id="logo"><br></br>Admin
          </center>


      </div>
      <div id="side" >
          <ul>
              <li>add meet up</li>
              <li>delete meet up</li>
              <li>users</li>
              <li>all meet ups</li>
              <li><a href="../index.html">log out</a></li>
          </ul>


      </div>
      <div id="data">


      </div>





    <footer id="footer">
        <p>&copy; 2018 Questioner.com</p>


    </footer>

  </body>













</html>
