<!doctype html>
<html>
  <head>
      <meta name="viewport" content="width=device-width,initial-scale=1" charset="utf-8" />
      <title> login page</title>
      <link href="../static/Css/landing.css" rel="stylesheet" type="text/css" />
      <link href="https://fonts.googleapis.com/css?family=Quicksand:500" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
      <script type="text/javascript">
         $(window).on('scroll', function(){
             if ($(window).scrollTop()){
                 $('nav').addClass('black');
             }
             else{
                 $('nav').removeClass('black');
             }
         })



      </script>







  </head>
  <body>
      <div class="wraper">
          <nav>
              <div class="logo"> <h1>Questioner</h1></div>
              <ul>
                  <li> <a href="landing.html" class="active">Home</a> </li>
                  <li> <a href="admin.html">Admin</a> </li>
                  <li> <a href="profile.html">Userprofile</a> </li>
                  <li> <a href="../index.html">Log out</a> </li>
                  <li> <a href="#">About</a> </li>


              </ul>



          </nav>

          <section class="sect1">


          </section>




      </div>

      <div class="main">
          <h1> Tech meet ups</h1>

 <!--cards -->

<div class="card">

<div class="image">
   <img src="../images/d.jpeg" style="width:200px; height:185px;">
</div>
<div class="title">
 <h1>
face-book developer circle</h1>
</div>
<div class="des">
 <p>
face-book developer circe has meet up comming up click below for more details</p>
<button>Read More...</button>
</div>
</div>
<!--cards -->


<div class="card">

<div class="image">
   <img src="../images/ai.png" style="width:200px; height:200px;">
</div>
<div class="title">
 <h1>data-science meet</h1>
</div>
<div class="des">
 <p>
Kenya AI has a meet up comming up clik below for more details...</p>
<button>Read More...</button>
</div>
</div>
<!--cards -->


<div class="card">

<div class="image">
   <img src="../images/w.png"style="width:250px; height:200px;">
</div>
<div class="title">
 <h1>Women in tech</h1>
</div>
<div class="des">
 <p>
women in tech has a meet up coming up click below to know more...</p>
<a href="meet-up.html"><button>Read More...</button></a>
</div>
</div>
<!--cards -->


<div class="card">

<div class="image">
   <img src="../images/cel.jpeg"style="width:200px; height:220px;">
</div>
<div class="title">
 <h1>celulant </h1>
</div>
<div class="des">
 <p>
celulant has meet up coming up click below to know more...</p>
<a href="meet-up.html"><button>Read More...</button></a>
</div>
</div>
<!--cards -->
<h1> political meet ups</h1>

<div class="card">

<div class="image">
   <img src="../images/od.jpeg"style="width:200px; height:200px;">
</div>
<div class="title">
 <h1>
Odm meet up</h1>
</div>
<div class="des">
 <p>
ODM has a meeet up comming up click below to know more...</p>
<a href="meet-up.html"><button>Read More...</button></a>
</div>
</div>
<!--cards -->

<div class="card">

<div class="image">
   <img src="../images/ju.png"style="width:200px; height:200px;">
</div>
<div class="title">
 <h1>
Jubilee party</h1>
</div>
<div class="des">
 <p>
Jubilee has a meet up comming up click below to know more ...</p>
<button>Read More...</button>
</div>
</div>
<!--cards -->

<div class="card">

<div class="image">
   <img src="../images/wi.png"style="width:200px; height:190px;">
</div>
<div class="title">
 <h1>
Wiper meet up</h1>
</div>
<div class="des">
 <p>
Wiper part has a meet up comming up click below to know more...</p>
<a href="meet-up.html"><button>Read More...</button></a>

</div>
</div>
<!--cards -->


<div class="card">

<div class="image">
   <img src="../images/kan.png"style="width:250px; height:200px;">
</div>
<div class="title">
 <h1>Kanu meet up</h1>
</div>
<div class="des">
 <p>
kanu has a meet comming up click below to know more...</p>
<a href="meet-up.html"><button>Read More...</button></a>
</div>
</div>
<!--cards -->


<div class="card">

<div class="image">
   <img src="../images/r.png">
</div>
<div class="title">
 <h1>
PNU party </h1>
</div>
<div class="des">
 <p>
PNU has an upcoming party click below to know more..</p>
<a href="meet-up.html"><button>Read More...</button></a>
</div>
</div>
<div class="card">

<div class="image">
   <img src="../images/r.png">
</div>
<div class="title">
 <h1>
PNU party </h1>
</div>
<div class="des">
 <p>
PNU has an upcoming party click below to know more..</p>
<a href="meet-up.html"><button>Read More...</button></a>
</div>
</div>
<div class="card">

<div class="image">
   <img src="../images/r.png">
</div>
<div class="title">
 <h1>
PNU party </h1>
</div>
<div class="des">
 <p>
PNU has an upcoming party click below to know more..</p>
<a href="meet-up.html"><button>Read More...</button></a>
</div>



</div>

<footer id="foo">
    <p>&copy; 2018 Questioner.com</p>

</footer>





  </body>













</html>
