<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="../static/Css/meetup.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:500" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script type="text/javascript">
     $(window).on('scroll', function(){
         if ($(window).scrollTop()){
             $('nav').addClass('black');
         }
         else{
             $('nav').removeClass('black');
         }
     })



  </script>

  </head>
  <body>
      <nav>
          <div class="logo"> <h1>Questioner</h1></div>
          <ul>
              <li> <a href="landing.html" class="active">Home</a> </li>
              <li> <a href="admin.html">Admin</a> </li>
              <li> <a href="profile.html">Userprofile</a> </li>
              <li> <a href="../index.html">Log out</a> </li>
              <li> <a href="#">About</a> </li>


          </ul>




      </nav>

      <div class="card">

           <div class="image">
             <p> happening on : 2/6/2019</p><p> hosted by:  Andela</p>
             <p> speakers: khalid hashi and dav   entrence: free</p> <img src="../images/d.jpeg">

        </div>
    </div>
    <h1> Top Questions<h1>
    <div class="main">
    <p>tableViewcontroller I am trying to create a tableViewController which has a button and a textView in each cell, and has following functions: 1. add a cell when bar button item in toolbar is pushed (works)<
    I am using the func called textViewDidEndEditing where I want to collect the text from UITextView and then storing it in array

func textViewDidEndEditing(_ textView: UITextView</p>
<p class="asked">
  asked         today
  <br></br>

<button type="button" name="button">comment</button>



</p>



<div class="tri1"></div>
0

<br></br>


<div class="tri2"></div>



<hr></hr>
<p>tableViewcontroller I am trying to create a tableViewController which has a button and a textView in each cell, and has following functions: 1. add a cell when bar button item in toolbar is pushed (works)
I am using the func called textViewDidEndEditing where I want to collect the text from UITextView and then storing it in array

func textViewDidEndEditing(_ textView: UITextView</p>
<p class="asked">
  asked         today
  <br></br>

  <button type="button" name="button">comment</button>


</p>
<div class="tri1"></div>
0

<br></br>


<div class="tri2"></div>
<hr></hr>
<br></br>

<button type="button" name="button">Your Question</button>
<br></br>
<form>

<textarea name="name" rows="20" cols="80"></textarea>







</form>



</div>
<footer id="foo">
    <p>&copy; 2018 Questioner.com</p>


</footer>











  </body>



</html>
